<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>My Sample email</title>
  <style type="text/css">
   
  </style>
  </head>
  <body>
    <h2>Welcome to emailJS</h2>
    <p>This email was sent to {{name}}</p>
  </body>
</html>
